#projects {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.projects .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
  padding: 3em 0;
}

.projects .project .project-pic-container, .projects .project .project-info {
  display: grid;
  grid-template-columns: 3;
  /* justify-content: space-between; */
  position: relative;
}

.group2 {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.project-info p {
  width: 80%;
}

.project-info h6 {
  font-size: 2em;
  font-family: "Oswald", serif;
}

.project-pic-container {
  display: grid;
  gap: 1em;
  width: 100%;
  grid-template-columns: repeat(var(--image-count), 1fr);
}

.project-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--thick-shadow);
}

/* Special case for when there's only one image */
.project-pic-container:has(.project-pic:nth-child(1):nth-last-child(1)) {
  grid-template-columns: 1fr; /* One image takes full width */
}

/* Special case for when there are exactly 2 images */
.project-pic-container:has(.project-pic:nth-child(2):nth-last-child(1)) {
  grid-template-columns: repeat(2, 1fr); /* Two images share width equally */
}


@media only screen and (max-width: 1100px) {
  .projects .project {
    flex-direction: column;
  }

  .project-pic-container {
    order: 2;
  }

  .group2 {
    display: flex;
    flex-direction: column; /* Ensure ordering applies */
  }

  .project-info {
    order: 1;
  }
}