#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows, automatic height */
    gap: min(8em, 5%); /* Maintain spacing */
    align-items: start;
}

.contact h3 {
    font-size: 1.25em;
}

.contact .social-buttons {
    flex-direction: column;
}

.contact ul li .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.contact ul li .row {
    padding-top: 1.35em;
    font-weight: 600;
    font-size: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-form input, .contact-form textarea {
    all: unset;
    box-shadow: var(--inner-glow);
    border-radius: 10px;
    padding: .5em;
    border: 1px solid transparent;
    text-align: left;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 1px solid var(--accent-color)
}

.contact-form input:hover, .contact-form textarea:hover {
    border: 1px solid var(--pop-color)
}

.contact-form button {
    all: unset;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: .5em;
    text-align: center;
    font-family: var(--font-primary);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: scale .3s ease;
}

.contact-form button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* .light-mode .contact-form button {
   
} */

@media only screen and (max-width: 900px) {
    
    .contact ul {
        grid-template-columns: 1fr;
        padding-bottom: 2em
    }

    .contact-form textarea {
        min-height: 15dvh;
    }
}

@media only screen and (max-width: 500px) {
    .contact ul li .row {
        gap: 0.5em;
    }
    ul li .row p {
        font-size: .65em;
        text-wrap: wrap;
    }
    ul li .row img {
        width: 1.5em
    }
}