.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 3em;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  animation: appearTop ease-out 1s;
  gap: 1em;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info-group h1 {
  font-size: 3em;
  font-family: 'Oswald', 'serif';
  /* text-shadow: 3px 3px 3px black; */

  margin: 0;
}

.aboutMe .social-buttons {
  padding-top: 0;
  width: 100%;
}

.name-header {
  font-size: 3em;
  font-weight: 500;
  font-family: 'Oswald', 'serif';
}

.aboutMe .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

p, h2 {
  margin: 0;
  font-weight: 400;
}

.aboutMe h3 {
  font-weight: 400;
  font-size: 1.25em;
  margin: 0;
}

.aboutMe p:first-of-type {
  margin-top: 1em;
}

.aboutMe .info-group img {
  width: 1.3em;
  height: 1.3em;

}

strong {
  /* color: var(--pop-color); */
  /* text-shadow: 3px 3px 3px black; */
}

.pic {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
  border-radius: 50%;
  animation: appearRight 1s;
}

.pic::before,
.pic::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: var(--rainbow-cone-gradinet);
}

.pic::before, .pic:after {
  width: clamp(15em, 20vw, 25em);
  height: clamp(15em, 20vw, 25em);
  padding: 0.2em;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
}


.pic::before:hover,
.pic:after:hover {
  opacity: 1;
}


.profilePic {
  width: clamp(15em, 20vw, 25em);
  height: clamp(15em, 20vw, 25em);
  object-fit: cover;
  object-position: 10% 20% ;
  border-radius: 50%;
}



@media only screen and (min-width: 800px) {
  .aboutMe {
    flex-direction: row;
  }
}

@media only screen and (max-width: 420px) {
  .name-header {
    font-size: 2em;
  }

  .info h2, .info .row h2 {
    font-size: 1em;
  }
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}